<div class="products">
  {{ filter }}
  {{ 'Number of orders - '|t }} {{ orders_statistics.orders_count }} <br>
  {{ 'Average order value - '|t }} {{ orders_statistics.average_orders_value }} <br>
  {{ 'The most purchased entity  - '|t }} {{ orders_statistics.most_purchased_entity }}
  {{ view }}
</div>
